
.dance-categories {
  position: absolute;
  top: 8.94rem;
  left: 35.25rem;
  font-size: 3rem;
  text-decoration: underline;
  text-shadow: 0 4px 4px rgba(10, 10, 10, 0.75);
  -webkit-text-stroke: 1px #000;
}
.kathak-category-container{
  display: block;
}

.hiphop-container,
.tapdance-container,
.jazzdance-container,
.contemporary-container,
.kathak-category-container {
  position: absolute;
  top: 18.63rem;
  left: 3.63rem;
  /* border-radius: 2rem; */
  box-shadow: 0 4px 4px rgba(14, 13, 14, 1.00);
  width: 25.5rem;
  height: 17.5rem;
  object-fit: cover;
}
.hiphp-container,
.tapdance-container,
.jazzdance-container,
.contemporary-container {
  top: 43.75rem;
  left: 36.13rem;
}
.hiphop-container{
  top: 43.75rem;
  left: 34.75rem;
}
.tapdance-container,
.jazzdance-container,
.contemporary-container {
  left: 3.63rem;
}
.jazzdance-container,
.contemporary-container {
  top: 18.56rem;
  left: 66.31rem;
}
.contemporary-container {
  left: 34.75rem;
}
.categorypage {
  position: relative;
  width: 100%;
  height: 71.06rem;
  overflow: hidden;
  text-align: left;
}
.category-container{
  position: relative;
  width: 25.5rem;
}
.overlay-text{
   
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    /* color: #f1f1f1; */
    width: 100%;
    transition: .5s ease;
    /* opacity:0; */
    /* color: white; */
    font-size: 20px;
    padding: 20px;
    text-align: center;
  
}
.image-container{
  position: relative;
  
}

.kathak-category-container:hover {
  transform: scale(1.05);
 transition: transform 0.2s ease; 
 
}
.image-container:hover .overlay-text{
  opacity:1;
}

.hiphop-container:hover{
  transform: scale(1.05);
  transition: transform 0.2s ease;
}
.tapdance-container:hover{
  transform: scale(1.05);
  transition: transform 0.2s ease;
}
.jazzdance-container:hover{
  transform: scale(1.05);
  transition: transform 0.2s ease;
}
.contemporary-container:hover{
  transform: scale(1.05);
  transition: transform 0.2s ease;
}


/* @media only screen and (max-width: 600px){
  .dance-categories{
    top: 8.94rem;
    left: 6.25rem;
    font-size: 1.75rem;
  }
  .categorypage-child{
    width: 8rem;
    height: 6rem;
    left: 1.2rem;
  }
  .categorypage-item{
    width: 8rem;
    height: 6rem;
    left: 10.2rem;
  }
  .categorypage-child1{
    width: 8rem;
    height: 6rem;
    left: 19.2rem;
  }
  .rectangle-div{
    width: 8rem;
    height: 6rem;
    left: 1.2rem;
    top: 26rem;
  }
  .categorypage-inner{
    width: 8rem;
    height: 6rem;
    left: 10.2rem;
    top: 26rem;
  }
  .rectangle-icon{
    top: 16.63rem;
    left: 1.63rem;
    width: 6.75rem;
    height: 5.75rem;
  }
  .categorypage-child5{
    left: 10.75rem;
    width: 6.75rem;
    height: 5.75rem;
    top: 16.63rem;
  }
  .categorypage-child4{
    left: 19.51rem;
    width: 6.75rem;
    height: 5.75rem;
    top: 16.63rem;
  }
  .categorypage-child3{
    top: 26.15rem;
    left: 1.63rem;
    width: 6.75rem;
    height: 5.75rem;
  }
  .categorypage-child2{
    top: 26.15rem;
    left: 10.75rem;
    width: 6.75rem;
    height: 5.75rem;
  }
} */
