
.dance-categories {
  position: absolute;
  top: 8.94rem;
  left: 35.25rem;
  font-size: 3rem;
  text-decoration: underline;
  text-shadow: 0 4px 4px rgba(10, 10, 10, 0.75);
  -webkit-text-stroke: 1px #000;
}
/* .categorypage-child,
.categorypage-child1,
.categorypage-inner,
.categorypage-item,
.rectangle-div {
  position: absolute;
  top: 16.5rem;
  left: 2.13rem;
  border-radius: 5rem;
  background-color: #EEDBDB;
  width: 28.13rem;
  height: 20.88rem;
} */
/* .categorypage-child1,
.categorypage-inner,
.categorypage-item,
.rectangle-div {
  top: 16.56rem;
  left: 33rem;
}
.categorypage-child1,
.categorypage-inner,
.rectangle-div {
  top: 41.69rem;
  left: 34.38rem;
}
.categorypage-child1,
.rectangle-div {
  left: 2.13rem;
}
.categorypage-child1 {
  top: 16.56rem;
  left: 64.56rem;
} */
.categorypage-child2,
.categorypage-child3,
.categorypage-child4,
.categorypage-child5,
.rectangle-icon {
  position: absolute;
  top: 18.63rem;
  left: 3.63rem;
  /* border-radius: 2rem; */
  box-shadow: 0 4px 4px rgba(14, 13, 14, 1.00);
  width: 25.5rem;
  height: 17.5rem;
  object-fit: cover;
}
.categorypage-child2,
.categorypage-child3,
.categorypage-child4,
.categorypage-child5 {
  top: 43.75rem;
  left: 36.13rem;
}
.categorypage-child3,
.categorypage-child4,
.categorypage-child5 {
  left: 3.63rem;
}
.categorypage-child4,
.categorypage-child5 {
  top: 18.56rem;
  left: 66.31rem;
}
.categorypage-child5 {
  left: 34.75rem;
}
.categorypage {
  position: relative;
  width: 100%;
  height: 71.06rem;
  overflow: hidden;
  text-align: left;
}
.rectangle-icon:hover {
  transform: scale(1.05);
 transition: transform 0.2s ease;
 opacity: 1;
}
.categorypage-child2:hover{
  transform: scale(1.05);
  transition: transform 0.2s ease;
}
.categorypage-child3:hover{
  transform: scale(1.05);
  transition: transform 0.2s ease;
}
.categorypage-child4:hover{
  transform: scale(1.05);
  transition: transform 0.2s ease;
}
.categorypage-child5:hover{
  transform: scale(1.05);
  transition: transform 0.2s ease;
}
.overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 20vw;
  width: 20vw;
  background-color: #00000084;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  cursor: pointer;
  border-radius: 10px;
}


@media only screen and (max-width: 600px){
  .dance-categories{
    top: 8.94rem;
    left: 6.25rem;
    font-size: 1.75rem;
  }
  .categorypage-child{
    width: 8rem;
    height: 6rem;
    left: 1.2rem;
  }
  .categorypage-item{
    width: 8rem;
    height: 6rem;
    left: 10.2rem;
  }
  .categorypage-child1{
    width: 8rem;
    height: 6rem;
    left: 19.2rem;
  }
  .rectangle-div{
    width: 8rem;
    height: 6rem;
    left: 1.2rem;
    top: 26rem;
  }
  .categorypage-inner{
    width: 8rem;
    height: 6rem;
    left: 10.2rem;
    top: 26rem;
  }
  .rectangle-icon{
    top: 16.63rem;
    left: 1.63rem;
    width: 6.75rem;
    height: 5.75rem;
  }
  .categorypage-child5{
    left: 10.75rem;
    width: 6.75rem;
    height: 5.75rem;
    top: 16.63rem;
  }
  .categorypage-child4{
    left: 19.51rem;
    width: 6.75rem;
    height: 5.75rem;
    top: 16.63rem;
  }
  .categorypage-child3{
    top: 26.15rem;
    left: 1.63rem;
    width: 6.75rem;
    height: 5.75rem;
  }
  .categorypage-child2{
    top: 26.15rem;
    left: 10.75rem;
    width: 6.75rem;
    height: 5.75rem;
  }
}
