*{
  overflow-y: hidden;
  
}
.welcome {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 61.38rem;
  overflow: hidden;
  text-align: left;
  font-size: 4.8rem;
  color: #000;
  font-family: "Mako", sans-serif;
}

.images {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #EEDBDB;
  width: 35.56rem;
  height: 61.38rem;
}

.welcome-image {
  position: absolute;
  top: 5.69rem;
  left: 24.56rem;
  border-radius: 32px;
  width: 27.69rem;
  height: 38.69rem;
  object-fit: cover;
}

.logo {
  position: absolute;
  top: 16.13rem;
  left: 56.44rem;
  width: 31rem;
  height: 6.75rem;
  object-fit: cover;
}

.buttons {
  position: absolute;
  top: 36.88rem;
  left: 56.69rem;
  background-color: #EEDBDB;
  width: 10rem;
  height: 4.38rem;
  display: flex;
  overflow-x: hidden;
}

.login,
.signup {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  /* text-transform: uppercase; */
  /* letter-spacing: 0.2rem; */
  cursor: pointer;
}

.signup {
  margin-left: 13rem;
  background-color: #EEDBDB;
}

.text {
  position: absolute;
  top: 25.25rem;
  left: 55.69rem;
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
}