@import url('https://fonts.googleapis.com/css2?family=Ysabeau:wght@500&display=swap');

.gif{
    margin: 4rem;

 
}
.img-gif{
    width: 43vw;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
.blog-text{
  position: absolute;
    top: 7.7rem;
    background-color: #ece3e3;
    left: 46rem;
    width: 45vw;
    height: 38.7rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
.blogtext-heading{
    margin: 4rem;
    margin-left: 5rem;
    font-size: 2rem;
    color: #9c8282;
}
.blog-content{
    margin: 3rem;
   line-height: 2rem;
   color: #9c8282;
   font-family: 'Ysabeau', sans-serif;
   font-size: 1.2rem;
}
.blog-button{
    margin: 0rem;
    margin-left: 18rem;
    height: 2.5rem;
    border: none;
    border-radius: 4px;
    background-color: #c1abab;
}
.text-content-blog{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: -40px;
    color: #9c8282;
    font-size: 25px;
    word-spacing: 4px;
    text-align: center;
    font-family:'Ysabeau', sans-serif
}
.welcome-section-blog{
    /* overflow: hidden; */
    background-color: #EEDBDB;
    width: 90em;
  
}
.welcome-box{
    margin-left: 46em;
    margin-top: -30em;
    /* background-color: #9c8282; */
    width: 40em ;
    height: 29em;
}
.welcome-box-img{
    margin-Top: 30px;
     margin-Left:50px;
      height:30em;
}