.sidebar-container{
    display: flex;
    gap: 20px;
    padding: 90px;
}
.sidebar-list{
    display: flex;
    flex-direction: column ;
    gap: 20px;
    align-items: center;
    margin-left: -99px;
    margin-top:70px ;
    height: 0;
    transition: 300ms;
}

.sidebar-list-active{
    height: 300px ;
}

.sidebar-list-items{
    border-radius: 50%;
    height: 26px;
    width: 30px;
}