/* *{
    overflow-y: hidden;
} */

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.show{
    opacity: 1;
    transition: opacity 0.9s ease-in-out;
}

.hide{
    opacity: 0;
    transition: opacity 0.9s ease-in-out;
    display: none;
}