.kathak-container {
    display: flex;
    flex-direction: column;
    gap: 5rem;
  
    padding: 2.5rem 8rem 5rem 8rem;
  }

  /* .kathak {
    position: absolute;
    top: 9.5rem;
    left: 40.75rem;
    font-size: 3rem;
    text-decoration: underline;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
    -webkit-text-stroke: 1px #000;
  } */
  
  .kathak-container .heading {
    position: absolute;
    font-family: "Poppins";
    font-style: normal;
    left: 40.75rem;
    font-weight: 700;
    font-size: 4.2rem;
    line-height: 6.3rem;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    /* identical to box height */
  
    /* new colors/primary brown */
  
    color: #977288;
  }
  
  .hero-section {
    display: flex;
    flex-direction: column;
  }
  
  .hero-main {
    padding-top: 11rem;
    display: flex;
    flex-direction: column;
    gap: 7.5rem;
    justify-content: center;
    align-items: center;
  }
  
  .suggested-video iframe {
    border-radius: 2rem;
    width: 60.7rem;
    height: 33.3rem;
  }
  
  .playlist-form {
    width: 55.7rem;
    height: 10.1rem;
  
    background: #f5f1ed;
    border-radius: 2rem;
    padding: 3rem;
    padding-top: 2.5rem;
  }
  
  .form-title {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3.6rem;
    margin-bottom: 1.5rem;
    /* identical to box height */
  
    /* new colors/primary brown */
  
    color: #977288;
  }
  
  .playlist-form form {
    display: grid;
    grid-template-columns: 5fr 1fr;
    gap: 1.2rem;
    width: 100%;
    margin: 0;
  }
  
  form .playlist-link {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    /* color: #000000; */
    background: #f5f1ed;
  
    border: 0.2rem solid  #977288;
    border-radius: 1rem;
    box-sizing: border-box;
    padding: 1.3rem 3rem;
    height: 5rem;
  }
  
  .add-btn {
    height: 5rem;
  
    /* new colors/primary brown */
  
    background:  #977288;
    border-radius: 1rem;
  
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.7rem;
    display: flex;
    align-items: center;
    text-align: center;
  
    /* colors/white */
  
    color: #ffffff;
  
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .playlist-heading-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .favorite-btn {
    position: absolute;
    background: #f5f1ed;
    border-radius: 1rem;
    height: 5rem;
    padding: 1.2rem 2.4rem;
  
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2.4rem;
    /* identical to box height */
  
    display: flex;
    align-items: center;
    text-align: center;
    gap: 1rem;
    left: 72rem;
  
    /* new colors/primary brown */
  
    color: #977288;
  }
  
  .videos-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 5rem;
    gap: 5rem;
  
    max-width: 70vw;
  }
  
  .show-more-btn {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.7rem;
    display: flex;
    align-items: center;
    text-align: center;
  
    /* colors/white */
  
    color: #ffffff;
    background: #977288;
    border-radius: 1rem;
    padding: 1rem 2rem;
    margin: auto;
  
    margin-top: 4rem;
  }
  
  @media (max-width: 600px) {
    .suggested-video iframe {
      width: 50rem;
      height: 30rem;
    }
  
    .playlist-form {
      width: 50rem;
      height: auto;
    }
  
    .videos-container {
      display: grid;
      grid-template-columns: 1fr;
    }
  }
  
  @media (max-width: 450px) {
    .kathak-container .heading {
      font-size: 3.2rem;
    }
  
    .suggested-video iframe {
      width: 40rem;
      height: 30rem;
    }
  
    .favorite-btn p {
      display: none;
    }
  
    .playlist-form {
      width: 40rem;
    }
  }
  